body{
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

p{
    margin: 15px;
    padding: 15px;
    text-align: center;
    line-height: 1.5rem;  
}

.container-navbar{


}
